<h1 onload="function() {
  blocmetrics.report('User View');
};">Profile: <span class="highlight"><%= @user.name %></h1>
<div class="row">
  <div class="col-md-8">
    <p>Here is a user profile for <%= @user.email %>. Have tons of fun with it.</p>
    <ul>
      <li><strong>Email:</strong> <%= @user.email %></li>
      <li><strong>Blocing it off since:</strong> <%= time_ago_in_words(@user.created_at) %> ago.</li>
      <li><strong>Password:</strong> ...yes.
    </ul>
    <p><%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-4">
    <div class="list-of-lists">
      <h3><%= @user.name %>'s Lists:</h3>
      <%= render partial: 'lists/lists', locals: { user: @user } %>
    </div>
    <%= render 'lists/form', list: List.new, user: @user %>
  </div>
</div>
<div class="row todo-lists">
  <% @user.lists.each do |list| %>
    <div class="col-md-4">
      <div class="lists">
        <h3 id='list-<%= list.id %>'><%= list.title.capitalize %></h3>
        <%= render partial: 'items/item', locals: { user: @user, list: list } %>
      </div>
    </div>
  <% end %>
  <div class="clearfix">&nbsp;</div>
</div>
